body {
  margin: 0;
  font-family: 'Mukta', sans-serif;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
  padding: 2%;
  text-align: center;
  background-color: #181D31;
}
.Navbar input{
  padding: 0.5%;
  margin-right: 2%;
  font-family: 'Mukta', sans-serif;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 2px;
  font-weight: bold;
  border: 2px solid black;
  width: 30%;
}
.Navbar button{
  padding: 0.5%;
  margin-right: 1%;
  font-family: 'Mukta', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  letter-spacing: 2px;
  width: 10%;
  background-color: #678983;
  color: #fff;
}
.Navbar button:hover{
  background-color: #fff;
  color: black;
}

.MovieCard{
  display: inline-flex;
  padding: 1%;
  margin: 1% 15% 1% 15%;
  border: 2px solid black;
  width: 70%;
  background-color: #E0E0E0;
}
.movieimg{
  height: 50px;
}

.cont{
  display: inline-flex;
  width: 100%;
  padding: 2%;
}

.left{
  padding: 2%;
}

.right{
  padding: 2%;
  width: 80%;
}

.btn-fav{
  padding: 1%;
  margin-Left: 50%;
  font-family: 'Mukta', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #950101;
  color: #fff;
}

.btn-fav:hover{
  color: #950101;
  background-color: #fff;
}

.tabs{
  display: inline-flex;
  padding: 1%;
  margin : 1% 15% 1% 15%;
  width: 70%;
  text-align: center;
  background-color: #181D31;
}

.left-tab{
  width: 50%;
}

.right-tab{
  width: 50%;
}

.all-movies{
  padding: 1%;
  font-family: 'Mukta', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #678983;
  color: #fff;
}
.all-movies:hover{
  background-color: #fff;
  color: black;
}
.fav{
  padding: 1%;
  font-family: 'Mukta', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #950101;
  color: #fff;
}
.fav:hover{
  color: #950101;
  background-color: #fff;
}

.btn-unfav{
  padding: 1%;
  margin-Left: 50%;
  font-family: 'Mukta', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: black;
  color: #fff;
}
.btn-unfav:hover{
  color: black;
  background-color: #fff;
}